@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

:root {
  --clr-white: #fff;
  --clr-background: #191765;
  --display-1: flex;
  --ff-primary: 'Roboto', 'sanserif';
  --ff-secondary: #edecff;
  --text-align: 'center';
}

body {
  width: 375px;
  top: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-background);
  z-index: 9;
  scroll-behavior: smooth;
}

.isfixed {
  overflow: hidden;
}

.main-nav {
  width: 370px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.icon-img {
  width: 50px;
}

.email-icon,
.big-circle1,
.big-circle2 {
  display: none;
}

.wrapper {
  width: 375px;
  position: absolute;
  height: 100vh;
  background-color: var(--clr-background);
  top: 0%;
  left: 0;
  bottom: 0%;
  z-index: 99;
  background-image: url('icons/navbackg.png');
  transform: translateX(-150%);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position-y: 70%;
}

.show-nav {
  transform: translateX(0);
  transition: all 1s;
}

.wrapper button {
  background-color: transparent;
  border: none;
}

.fa {
  transform: scale(1.5);
  color: #edecff;
}

.nav-link {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
}

.item-links {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 99;
  background-image: url('icons/navbackg2.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: 100%;
  background-position-y: 100%;
  list-style-type: none;
  row-gap: 0;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.item-links li {
  width: 90%;
  position: relative;
  margin: 5px auto;
  z-index: 99;
  padding: 0;
  align-items: center;
}

.item-links a {
  color: #edecff;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 375px;
  row-gap: 30px;
  position: relative;
  top: 20%;
  background-image: url('icons/Ellipse18.png');
  background-position-y: -5%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: auto;
  z-index: -99;
}

.name-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 999;
}

.logo {
  animation: tope 1.5s 1;
}

@keyframes tope {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.primary-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #7d73fc;
  text-transform: capitalize;
  text-align: center;
}

.support-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #edecff;
  margin: 0;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
}

.underline {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
}

.skills {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url('icons/Ellipse19.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2%;
}

.skills > div {
  width: 45%;
  margin-left: 4%;
}

.description {
  width: 82.7%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #cbc8d4;
}

.lang-cont {
  padding: 0;
  list-style: none;
}

.lang {
  color: #9490ff;
}

.contact-me p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 87.3%;
  left: 50%;
  color: #f5f5ff;
}

.modal-desc p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.lang-cont li p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
}

.underline2 {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.social-media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.media {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.work-btn2 {
  display: none;
}

.work-btn {
  display: flex;
  flex-direction: row;
  height: 30px;
  column-gap: 20px;
}

.work {
  color: #a2a3ae;
  position: relative;
  top: -30%;
}

.work-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  row-gap: 70px;
  position: relative;
  z-index: 0;
}

.work-title {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-start;
  row-gap: 10px;
}

.work-title h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  width: 82.7%;
  color: #9490ff;
  margin-left: 5%;
  text-transform: capitalize;
}

.underline3 {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
  left: 5%;
}

.recent-work {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  z-index: 99;
  row-gap: 20px;
  position: relative;
}

.recent-work > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.work1 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  z-index: 99;
  width: 375px;
}

.work-modal-cont {
  display: none;
  position: fixed;
  width: 100%;
  background-color: var(--clr-background);
  z-index: 999;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

.work-modal {
  position: relative;
  width: 80%;
  top: 30%;
  border: 1px solid #fff;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.16);
  margin: 0;
}

.show-modal {
  display: flex;
}

.modal-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin: 0;
}

.project-control {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.move-left,
.move-right {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #7d73fc;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
}

.modal-header {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.close-modal {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.modal-title {
  position: relative;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 12px;
  color: #fff;
  text-transform: capitalize;
}

.modal-img {
  width: 100%;
  position: relative;
  height: 60%;
}

.modal-desc {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.modal-desc ul {
  width: 100%;
  column-gap: 20px;
  padding: 0;
}

.tag li {
  width: 25%;
  text-align: left;
  padding: 5px;
  border-right: 1px solid grey;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.modal-desc ul li {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  margin: 0;
  align-items: center;
}

.modal-btn {
  display: flex;
  width: 100%;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 8%;
  position: relative;
  align-items: center;
}

.modal-btn button {
  width: 40%;
  height: 50px;
  background-color: #7d73fc;
  border: none;
  display: flex;
  text-transform: capitalize;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.modal-btn button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.bg1 {
  background-image: url('icons/back1.png');
  background-repeat: no-repeat;
  background-position-x: 0;
}

.bg2 {
  background-image: url('icons/back2.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 70%;
}

.bg3 {
  background-image: url('icons/back3.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 50%;
  background-size: 70%;
}

.bg4 {
  background-image: url('icons/back4.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 0;
}

.work1 > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 5%;
  margin: 0 auto;
}

.work1-link {
  margin: 0 auto;
  width: 90%;
  z-index: -1;
}

.tag {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 90%;
  justify-content: flex-start;
}

.tag li:last-of-type {
  border-right: none;
}

.proj-btn {
  width: 115px;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: #7d73fc;
  color: #edecff;
  padding: 12px 8px;
}

.proj-btn:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  color: #fff;
}

.project-title {
  width: 87.2%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  color: #dcdce8;
  text-align: left;
}

.contact-form {
  width: 355px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 0;
}

.work-backg {
  display: none;
}

.contact-me {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  align-items: center;
}

.contact-us {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #9390ff;
  text-transform: uppercase;
}

.chat {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 355px;
  align-items: center;
  row-gap: 10px;
  left: 2%;
  position: relative;
}

.submit-btn {
  width: 90px;
  height: 50px;
  background-color: #7d73fc;
  color: #edecff;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
}

.submit-btn:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  color: #fff;
}

#input,
#email {
  width: 90%;
  height: 30px;
  outline: 1px solid #fff;
}

.error-msg {
  color: red;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: none;
}

.show-error {
  display: inline-block;
}

#message {
  height: 90px;
  width: 90%;
  outline: 1px solid #fff;
}

.footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
  width: 355px;
  justify-content: center;
}

.underline-footer {
  border: 1px solid grey;
  width: 90%;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  height: 40px;
}

.mymail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

@media screen and (min-width: 376px) and (max-width: 991px) {
  body {
    width: 98vw;
  }

  .main-nav {
    width: 95vw;
    position: relative;
    margin: 10px auto;
  }

  .tool-bar {
    width: 98vw;
  }

  .content {
    width: 100vw;
    align-items: center;
  }

  .skills {
    width: 100%;
    flex-wrap: nowrap;
  }

  .wrapper {
    left: -2%;
  }

  .skills > div {
    width: 33.33%;
  }

  .work-section {
    width: 98vw;
  }

  .work-title {
    width: 95vw;
  }

  .work1 {
    width: 98vw;
  }

  .work-title h1 {
    width: 100%;
  }

  .recent-work {
    grid-template-columns: 98vw;
  }

  .recent-work > div {
    width: 100vw;
  }

  .work1-link {
    display: flex;
    justify-content: center;
  }

  .work1 > div {
    width: 60%;
  }

  .proj-btn {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  .bg2 {
    background-size: 28%;
    background-position-y: 0;
  }

  .contact-form {
    width: 98vw;
  }

  .contact-me {
    width: 70%;
  }

  .form {
    width: 70%;
  }

  .footer {
    width: 98vw;
  }

  .footer-social-media {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  body {
    width: 98vw;
    background-image: url('icons/circle2header@2x.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 90%;
    background-position-y: 12%;
  }

  .main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .email-icon {
    display: flex;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    justify-content: flex-end;
    position: relative;
    right: 80px;
    column-gap: 20px;
    transform: translateX(0);
    align-items: center;
    animation: topes 1.5s 1;
    background-image: none;
    z-index: 9;
  }

  .wrapper button,
  .wrapper i {
    display: none;
  }

  .item-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    column-gap: 20px;
    height: auto;
    background-image: none;
    justify-items: flex-start;
  }

  .item-links li {
    height: auto;
    padding: 0;
  }

  .item-links li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: all 1.5s;
  }

  .item-links li a:hover {
    text-decoration: underline;
  }

  @keyframes topes {
    0% {
      transform: translateX(100%);
    }

    50% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .content {
    width: 97vw;
    background-image: url('icons/circle1header@2x.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 15%;
    background-position-x: 8%;
  }

  .name-header {
    width: 100%;
  }

  .primary-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
  }

  .support-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    margin: 0;
  }

  .description {
    width: 38.7%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #bcbac5;
  }

  .skills {
    width: 38.7%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-image: none;
  }

  .underline {
    width: 38.7%;
  }

  .work-btn {
    display: none;
  }

  .skills > div {
    width: 33.33%;
    margin: 0;
    left: 7.5%;
    position: relative;
  }

  .normal-button {
    display: none;
  }

  .tool-bar {
    width: 20%;
    margin-left: 50px;
  }

  .work-section {
    width: 98vw;
  }

  .work-title {
    width: 100%;
  }

  .work-title h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 114px;
    text-transform: capitalize;
  }

  .recent-work {
    display: grid;
    grid-template-columns: 98.7vw;
    grid-template-rows: auto auto auto auto;
    row-gap: 80px;
  }

  .work1 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .recent-work > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: -9999;
  }

  .work1 > div {
    width: 30%;
    justify-content: flex-end;
  }

  .modal-content {
    row-gap: 20px;
  }

  .modal-desc {
    width: 60%;
    row-gap: 20px;
  }

  .work-modal-cont {
    background-image: url('icons/modal1.png');
    background-repeat: no-repeat;
    z-index: 999;
  }

  .work-modal {
    background-image: url('icons/modal2.png');
    background-repeat: no-repeat;
    background-position-x: 105%;
    background-position-y: 50%;
    top: 30%;
  }

  .modal-desc p {
    text-align: left;
  }

  .modal-desc ul {
    width: 60%;
  }

  .modal-btn {
    width: 70%;
    height: 50px;
    flex-direction: row;
    column-gap: 50px;
  }

  .modal-title {
    font-weight: 500;
    font-size: 24px;
  }

  .recent-work > div:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .recent-work > div:nth-of-type(4) {
    flex-direction: row-reverse;
  }

  .work1-link {
    width: 55%;
  }

  .work1-link img {
    width: 100%;
  }

  .project-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .project-desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #dfe1e6;
  }

  .bg2 {
    background-image: url('icons/desktop2.png');
    background-size: 30%;
  }

  .bg3 {
    background-image: url('icons/desktop3.png');
    background-size: 30%;
  }

  .bg4 {
    background-image: url('icons/desktop4.png');
    background-position-x: 100%;
  }

  .contact-form {
    width: 98vw;
    margin-top: 250px;
    position: relative;
  }

  .contact-me {
    width: 50%;
  }

  .contact-us {
    display: none;
  }

  .chat {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #9390ff;
    text-transform: uppercase;
  }

  .form {
    width: 50%;
  }

  .footer {
    width: 98vw;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }

  .submit-btn {
    margin-top: 50px;
  }
}
